@page "/"

<h1>Welcome to the Battle of the Galaxies!</h1>

Please see this <a target="_blank" href="https://docs.google.com/document/d/13smKknMmuI24QfLzrvVb2C-lMir3wI9F0yPYNTu9j5w/edit#heading=h.3tcnel79pbd6">Google Doc</a> to get started :)
